<h1>Movies</h1>
<p>Ordered by average stars</p>

<%= form_tag(search_path, method: "get") do %>
  <div class="field">
    <%= label_tag(:actor_name, "Actor Name:") %>
    <%= text_field_tag(:actor_name) %>
  </div>
  <%= submit_tag("Search") %>
<% end %>
<br>

<table border="1">
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Description</th>
      <th>Year</th>
      <th>Actors</th>
      <th>Locations</th>
      <th>Director</th>
      <th>Average Star</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.description %></td>
        <td><%= movie.year %></td>
        <td><%= movie.actors.map(&:name).join(', ') %></td>
        <td><%= movie.locations.map(&:to_s).join(', ') %></td>
        <td><%= movie.director.name %></td>
        <td><%= movie.average_star %></td>
      </tr>
    <% end %>
  </tbody>
</table>