<h1>Actors</h1>
<p>search result</p>

<%= form_tag(search_path, method: "get") do %>
  <div class="field">
    <%= label_tag(:actor_name, "Actor Name:") %>
    <%= text_field_tag(:actor_name) %>
  </div>
  <%= submit_tag("Search") %>
<% end %>
<br>

<table border="1">
  <thead>
    <tr>
      <th>Actor Name</th>
      <th>Movies</th>
    </tr>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.movies.map(&:name).join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>